body{
    background-color: gray;
}
h1{
    text-align: center; 
        }

        .f3{flex: 2;}
        .cart{
            background-color: aqua;
            width: 70%;
            margin-left: 20%;
            margin-right: 20%;
           
            
        }
        
       

        .cart-show{
           
            text-align: center;  
        }
        @media (min-width: 768px) {
            .cupcakes {
                display: flex;
                justify-content: center;
               /*  margin-left: 45%;*/
           /* margin-right: 45%;*/
            }
            .center {
                display: flex;
               
                
      }
        }

        table {
            border-collapse: collapse;
            width: 70%;
            margin-left: 20%;
            margin-right: 20%;
            
        }
   td{
    text-align: center;
    vertical-align: bottom;
   }

   th,
   td{
    padding: 15px;
    text-align: left;
    border: 1px solid black;
   }

.pizzas{text-align: center;}
img.cart{height: 40px;
    width: 40px;
    border-radius: 0,3em;
    margin: auto;
    display: block;
}

img.smally{height: 40px;
    width: 40px;
    border-radius: 0,3em;
    margin: auto;
    display: block;

}

img.tracy{
    height: 40px;
    width: 40px;
    border-radius: 0,3em;
    margin: auto;
    display: block;  
}

img.unknown{height: 40px;
    width: 40px;
    border-radius: 0,3em;
    margin: auto;
    display: block;  
}


        img {
        align-content: center;
        height: 250px;
        width: 250px;
        border-radius: 2.25em;
        margin: auto;
        display: block;
        }
        .Small_pizza {
           flex: 1;
            border: 2px solid;
            padding: 1em;
           margin: 1em;
            border-radius: 1em;
            background-color: coral;
        }
        .Medium_pizza {
           flex: 1;
            border: 2px solid;
            padding: 1em;
            margin: 1em;
            border-radius: 1em;
            background-color: darkslategrey;
        }

        .Large_pizza {
           flex: 1;
            border: 2px solid;
            padding: 1em;
            margin: 1em;
            border-radius: 1em;
            background-color: gold;
        }
        @media (min-width: 768px) {
            .pizzas {
                display: flex;
            }
        } 

        .footer {
background-color: lightgoldenrodyellow;
border: 2px solid beige;
border-radius: 1em;
padding: 1em;
margin: 1em; }